lab2/lab2.runs/
lab2/lab2.sim/sim_1/behav/compile.bat
lab2/lab2.sim/sim_1/behav/elaborate.bat
lab2/lab2.sim/sim_1/behav/glbl.v
lab2/lab2.sim/sim_1/behav/simulate.bat
lab2/lab2.sim/sim_1/behav/testbench_v.tcl
lab2/lab2.sim/sim_1/behav/testbench_v_behav.wdb
lab2/lab2.sim/sim_1/behav/testbench_v_vlog.prj
lab2/lab2.sim/sim_1/behav/webtalk.jou
lab2/lab2.sim/sim_1/behav/webtalk_3392.backup.jou
lab2/lab2.sim/sim_1/behav/xelab.pb
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/Compile_Options.txt
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/TempBreakPointFile.txt
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/webtalk/.xsim_webtallk.info
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/webtalk/usage_statistics_ext_xsim.html
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/webtalk/usage_statistics_ext_xsim.xml
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/xsim.dbg
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/xsim.mem
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/xsim.reloc
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/xsim.rtti
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/xsim.svtype
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/xsim.type
lab2/lab2.sim/sim_1/behav/xsim.dir/testbench_v_behav/xsim.xdbg
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/@nbit_mux8to1.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/@nbit_reg.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/bram.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/count.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/delay_eight_cycles.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/glbl.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_alu.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_decoder.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_divider.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_divider_one_iter.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_memory.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_processor.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_regfile.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_sll.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_sra.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_srl.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/lc4_we_gen.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xil_defaultlib/testbench_v.sdb
lab2/lab2.sim/sim_1/behav/xsim.dir/xsim.svtype
lab2/lab2.sim/sim_1/behav/xvlog.pb
